<a href="https://colab.research.google.com/github/HChandeepa/Sri_Lanka_Food_Prices_Analysis/blob/Master/Sri_Lanka_Food_Prices_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# from google.colab import drive, files
# drive.mount('/content/drive')

## Load the Dataset

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

In [5]:
# import dataset.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/wfp_food_prices_lka.csv')

start_time = time.time()
end_time = time.time()
pandas_load_time = end_time - start_time
print(f"Pandas Load Time: {pandas_load_time:.4f} seconds")

Pandas Load Time: 0.0001 seconds

In [6]:
# Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18506 entries, 0 to 18505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       18506 non-null  object
 1   admin1     18377 non-null  object
 2   admin2     18377 non-null  object
 3   market     18506 non-null  object
 4   latitude   18377 non-null  float64
 5   longitude  18377 non-null  float64
 6   category   18506 non-null  object
 7   commodity  18506 non-null  object
 8   unit       18506 non-null  object
 9   priceflag  18506 non-null  object
 10  pricetype  18506 non-null  object
 11  currency   18506 non-null  object
 12  price      18506 non-null  float64
 13  usdprice   18506 non-null  float64
dtypes: float64(4), object(10)
memory usage: 2.0+ MB

In [7]:
df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.66,0.2725
1,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,33.62,0.3421
2,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.71,0.2718
3,3/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.63,0.2738
4,4/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,32.98,0.3376

In [8]:
df.describe()

           latitude     longitude         price      usdprice
count  18377.000000  18377.000000  18506.000000  18506.000000
mean       7.481010     80.568017    581.991651      1.953836
std        0.947683      0.533244    606.396366      1.920414
min        5.952000     79.831700     11.500000      0.060200
25%        6.906044     80.045803    150.000000      0.655825
50%        7.253400     80.515701    320.120000      1.043450
75%        8.038129     81.005890    883.207500      2.930650
max        9.656700     81.700000   3735.420000     11.945700

In [9]:
selected_columns = ['admin1','admin2','market','category','commodity','unit','pricetype']
for columns in selected_columns:
  unique_values = df[columns].unique()
  print(f"Unique values in {columns}: {unique_values}\n\n")

Unique values in admin1: ['Western' 'Eastern' 'Northern' nan 'Central' 'North Central'
 'North Western' 'Sabaragamuwa' 'Southern' 'Uva']


Unique values in admin2: ['Colombo' 'Ampara' 'Batticaloa' 'Trincomalee' 'Jaffna' 'Kilinochchi'
 'Mannar' 'Mullattivu' 'Vavuniya' nan 'Kandy' 'Matale' 'Nuwara Eliya'
 'Anuradhapura' 'Polonnaruwa' 'Kurunegala' 'Puttalam' 'Ratnapura' 'Galle'
 'Hambantota' 'Matara' 'Badulla' 'Moneragala' 'Gampaha' 'Kalutara'
 'Kegalle']


Unique values in market: ['Colombo City' 'Ampara' 'Batticaloa' 'Trincomalee' 'Jaffna' 'Kilinochchi'
 'Mannar' 'Mulaitivu' 'Vavuniya' 'National Average' 'Kandy' 'Matale'
 'Nuwara Eliya' 'Anuradhapura' 'Polonnaruwa' 'Kurunegala' 'Puttalam'
 'Rathnapura' 'Galle' 'Hambantota' 'Matara' 'Badulla' 'Monaragala'
 'Gampaha' 'Kalutara' 'Kegalle' 'Economic Centre-Dambulla'
 'Economic Centre-Pettah' 'Economic Centre-Maradagahamula'
 'Fish market-Negombo' 'Fish market-Peliyagoda'
 'Economic Centre - Peliyagoda' 'Hanguranketha' 'Dehiattakandiya'
 'Galenbindunuwewa' 'Thambuttegama' 'Nikaweratiya' 'Mullativu'
 'Embilipitiya' 'Tissamaharama' 'Bandarawela' 'Keppetipola (DEC}'
 'Dammbagalla' 'Meegoda(DEC)']


Unique values in category: ['cereals and tubers' 'miscellaneous food' 'non-food' 'pulses and nuts'
 'vegetables and fruits' 'meat, fish and eggs' 'oil and fats']


Unique values in commodity: ['Wheat flour' 'Rice (red nadu)' 'Rice (white)' 'Rice (long grain)'
 'Sugar' 'Fuel (diesel)' 'Fuel (petrol-gasoline)' 'Potatoes (imported)'
 'Potatoes (local)' 'Chili (red, dry raw)' 'Beans' 'Carrots' 'Coconut'
 'Eggplants' 'Onions (red, local)' 'Pumpkin' 'Snake gourd'
 'Rice (medium grain)' 'Rice (red)' 'Fish (dry, katta)'
 'Fish (dry, sprats)' 'Lentils' 'Bananas' 'Cabbage' 'Onions (imported)'
 'Onions (red, imported)' 'Pineapples' 'Fish (goldstripe sardinella)'
 'Fish (jack)' 'Fish (sail fish)' 'Fish (skipjack tuna)'
 'Fish (trenched sardinella)' 'Fish (yellowfin tuna)' 'Tomatoes' 'Eggs'
 'Papaya' 'Oil (coconut)' 'Onions (red)' 'Meat (chicken, fresh)'
 'Cowpeas (whole, average)' 'Meat (chicken, broiler)' 'Beans (mung)']


Unique values in unit: ['KG' 'L' 'Unit' '750 ML']


Unique values in pricetype: ['Retail' 'Wholesale']

In [10]:
df.rename(columns={'admin1': 'province', 'admin2': 'district'}, inplace=True)

In [11]:
df.head()

,date,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.66,0.2725
1,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,33.62,0.3421
2,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.71,0.2718
3,3/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.63,0.2738
4,4/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,32.98,0.3376

In [12]:
df.dtypes

date          object
province      object
district      object
market        object
latitude     float64
longitude    float64
category      object
commodity     object
unit          object
priceflag     object
pricetype     object
currency      object
price        float64
usdprice     float64
dtype: object

## Data Cleaning

In [13]:
# Check for missing values
print(df.isnull().sum())

date           0
province     129
district     129
market         0
latitude     129
longitude    129
category       0
commodity      0
unit           0
priceflag      0
pricetype      0
currency       0
price          0
usdprice       0
dtype: int64

In [14]:
df.dropna(subset=['province', 'district', 'latitude', 'longitude'], inplace=True)

start_time = time.time()
end_time = time.time()
pandas_load_time = end_time - start_time
print(f"Pandas Clean Time: {pandas_load_time:.4f} seconds")

Pandas Clean Time: 0.0001 seconds

In [15]:
print(df.isnull().sum())

date         0
province     0
district     0
market       0
latitude     0
longitude    0
category     0
commodity    0
unit         0
priceflag    0
pricetype    0
currency     0
price        0
usdprice     0
dtype: int64

In [16]:
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y', errors='coerce')
start_time = time.time()
end_time = time.time()
pandas_load_time = end_time - start_time
print(f"Pandas Convert 'date' column to datetime format Time: {pandas_load_time:.4f} seconds")

Pandas Convert 'date' column to datetime format Time: 0.0001 seconds

In [17]:
# Drop duplicates
df.drop_duplicates(inplace=True)

## Feature Engineering

In [18]:
# Feature Engineering
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [19]:
df.head()

,date,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice,year,month
0,2004-01-15,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.66,0.2725,2004,1
1,2004-02-15,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,33.62,0.3421,2004,2
2,2004-02-15,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.71,0.2718,2004,2
3,2004-03-15,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.63,0.2738,2004,3
4,2004-04-15,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,32.98,0.3376,2004,4

In [20]:
# # Save the cleaned data
# df.to_csv("cleaned_data.csv", index=False)

## With Spark

In [21]:
from pyspark.sql import SparkSession
import time

# Initialize Spark session
spark = SparkSession.builder.appName("PerformanceComparison").getOrCreate()

# Measure load time
start_time = time.time()

# Load dataset
df_spark = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/Datasets/wfp_food_prices_lka.csv", header=True, inferSchema=True)

end_time = time.time()
spark_load_time = end_time - start_time
print(f"Spark Load Time: {spark_load_time:.4f} seconds")

# Show schema and sample rows
df_spark.printSchema()
df_spark.show(5)

Spark Load Time: 11.6848 seconds
root
 |-- date: string (nullable = true)
 |-- admin1: string (nullable = true)
 |-- admin2: string (nullable = true)
 |-- market: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- category: string (nullable = true)
 |-- commodity: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- priceflag: string (nullable = true)
 |-- pricetype: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- price: double (nullable = true)
 |-- usdprice: double (nullable = true)

+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|     date| admin1| admin2|      market|latitude|longitude|          category|      commodity|unit|priceflag|pricetype|currency|price|usdprice|
+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|1/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.66|  0.2725|
|2/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|33.62|  0.3421|
|2/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.71|  0.2718|
|3/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.63|  0.2738|
|4/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|32.98|  0.3376|
+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
only showing top 5 rows

In [22]:
from pyspark.sql.functions import col, sum

# Count missing values for each column
missing_values = df_spark.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_spark.columns])

# Show missing value counts
missing_values.show()

+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+
|date|admin1|admin2|market|latitude|longitude|category|commodity|unit|priceflag|pricetype|currency|price|usdprice|
+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+
|   0|   129|   129|     0|     129|      129|       0|        0|   0|        0|        0|       0|    0|       0|
+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+

In [23]:
from pyspark.sql.functions import col

# Measure cleaning time
start_time = time.time()

df_spark = df_spark.dropna(subset=['admin1', 'admin2', 'latitude', 'longitude'])

end_time = time.time()
spark_clean_time = end_time - start_time
print(f"Spark Clean Time: {spark_clean_time:.4f} seconds")

# Show cleaned data
df_spark.show(5)

Spark Clean Time: 0.0273 seconds
+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|     date| admin1| admin2|      market|latitude|longitude|          category|      commodity|unit|priceflag|pricetype|currency|price|usdprice|
+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|1/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.66|  0.2725|
|2/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|33.62|  0.3421|
|2/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.71|  0.2718|
|3/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.63|  0.2738|
|4/15/2004|Western|Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|32.98|  0.3376|
+---------+-------+-------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
only showing top 5 rows

In [24]:
from pyspark.sql.functions import col, sum

# Count missing values for each column
missing_values = df_spark.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_spark.columns])

# Show missing value counts
missing_values.show()

+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+
|date|admin1|admin2|market|latitude|longitude|category|commodity|unit|priceflag|pricetype|currency|price|usdprice|
+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+
|   0|     0|     0|     0|       0|        0|       0|        0|   0|        0|        0|       0|    0|       0|
+----+------+------+------+--------+---------+--------+---------+----+---------+---------+--------+-----+--------+

In [25]:
# Rename columns
df_spark = df_spark.withColumnRenamed("admin1", "province") \
                   .withColumnRenamed("admin2", "district")

# Show updated schema
df_spark.printSchema()

root
 |-- date: string (nullable = true)
 |-- province: string (nullable = true)
 |-- district: string (nullable = true)
 |-- market: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- category: string (nullable = true)
 |-- commodity: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- priceflag: string (nullable = true)
 |-- pricetype: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- price: double (nullable = true)
 |-- usdprice: double (nullable = true)

In [26]:
df_spark.show(5)

+---------+--------+--------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|     date|province|district|      market|latitude|longitude|          category|      commodity|unit|priceflag|pricetype|currency|price|usdprice|
+---------+--------+--------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
|1/15/2004| Western| Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.66|  0.2725|
|2/15/2004| Western| Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|33.62|  0.3421|
|2/15/2004| Western| Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.71|  0.2718|
|3/15/2004| Western| Colombo|Colombo City|6.931944|79.847778|cereals and tubers|    Wheat flour|  KG|   actual|   Retail|     LKR|26.63|  0.2738|
|4/15/2004| Western| Colombo|Colombo City|6.931944|79.847778|cereals and tubers|Rice (red nadu)|  KG|   actual|   Retail|     LKR|32.98|  0.3376|
+---------+--------+--------+------------+--------+---------+------------------+---------------+----+---------+---------+--------+-----+--------+
only showing top 5 rows

In [27]:
from pyspark.sql.functions import to_date
import time

# Measure execution time
start_time = time.time()

# Convert 'date' column to Spark Date format (Assuming the format is '%m/%d/%Y')
df_spark = df_spark.withColumn("date", to_date(df_spark["date"], "MM/dd/yyyy"))

end_time = time.time()
spark_datetime_time = end_time - start_time
print(f"Spark Convert 'date' column to datetime format Time: {spark_datetime_time:.4f} seconds")

Spark Convert 'date' column to datetime format Time: 0.0550 seconds

In [28]:
from pyspark.sql.functions import year, month

# Measure execution time
start_time = time.time()

# Extract year and month from the 'date' column
df_spark = df_spark.withColumn("year", year(df_spark["date"])) \
                   .withColumn("month", month(df_spark["date"]))

end_time = time.time()
feature_engineering_time = end_time - start_time
print(f"Spark Feature Engineering Time: {feature_engineering_time:.4f} seconds")

Spark Feature Engineering Time: 0.0500 seconds