<a href="https://colab.research.google.com/github/HChandeepa/Sri_Lanka_Food_Prices_Analysis/blob/Master/Sri_Lanka_Food_Prices_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# from google.colab import drive, files
# drive.mount('/content/drive')

## Load the Dataset

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
# import dataset.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/wfp_food_prices_lka.csv')

In [26]:
# Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18506 entries, 0 to 18505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       18506 non-null  object
 1   admin1     18377 non-null  object
 2   admin2     18377 non-null  object
 3   market     18506 non-null  object
 4   latitude   18377 non-null  float64
 5   longitude  18377 non-null  float64
 6   category   18506 non-null  object
 7   commodity  18506 non-null  object
 8   unit       18506 non-null  object
 9   priceflag  18506 non-null  object
 10  pricetype  18506 non-null  object
 11  currency   18506 non-null  object
 12  price      18506 non-null  float64
 13  usdprice   18506 non-null  float64
dtypes: float64(4), object(10)
memory usage: 2.0+ MB

In [27]:
df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.66,0.2725
1,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,33.62,0.3421
2,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.71,0.2718
3,3/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.63,0.2738
4,4/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,32.98,0.3376

In [28]:
df.describe()

           latitude     longitude         price      usdprice
count  18377.000000  18377.000000  18506.000000  18506.000000
mean       7.481010     80.568017    581.991651      1.953836
std        0.947683      0.533244    606.396366      1.920414
min        5.952000     79.831700     11.500000      0.060200
25%        6.906044     80.045803    150.000000      0.655825
50%        7.253400     80.515701    320.120000      1.043450
75%        8.038129     81.005890    883.207500      2.930650
max        9.656700     81.700000   3735.420000     11.945700

In [31]:
selected_columns = ['admin1','admin2','market','category','commodity','unit','pricetype']
for columns in selected_columns:
  unique_values = df[columns].unique()
  print(f"Unique values in {columns}: {unique_values}\n\n")

Unique values in admin1: ['Western' 'Eastern' 'Northern' nan 'Central' 'North Central'
 'North Western' 'Sabaragamuwa' 'Southern' 'Uva']


Unique values in admin2: ['Colombo' 'Ampara' 'Batticaloa' 'Trincomalee' 'Jaffna' 'Kilinochchi'
 'Mannar' 'Mullattivu' 'Vavuniya' nan 'Kandy' 'Matale' 'Nuwara Eliya'
 'Anuradhapura' 'Polonnaruwa' 'Kurunegala' 'Puttalam' 'Ratnapura' 'Galle'
 'Hambantota' 'Matara' 'Badulla' 'Moneragala' 'Gampaha' 'Kalutara'
 'Kegalle']


Unique values in market: ['Colombo City' 'Ampara' 'Batticaloa' 'Trincomalee' 'Jaffna' 'Kilinochchi'
 'Mannar' 'Mulaitivu' 'Vavuniya' 'National Average' 'Kandy' 'Matale'
 'Nuwara Eliya' 'Anuradhapura' 'Polonnaruwa' 'Kurunegala' 'Puttalam'
 'Rathnapura' 'Galle' 'Hambantota' 'Matara' 'Badulla' 'Monaragala'
 'Gampaha' 'Kalutara' 'Kegalle' 'Economic Centre-Dambulla'
 'Economic Centre-Pettah' 'Economic Centre-Maradagahamula'
 'Fish market-Negombo' 'Fish market-Peliyagoda'
 'Economic Centre - Peliyagoda' 'Hanguranketha' 'Dehiattakandiya'
 'Galenbindunuwewa' 'Thambuttegama' 'Nikaweratiya' 'Mullativu'
 'Embilipitiya' 'Tissamaharama' 'Bandarawela' 'Keppetipola (DEC}'
 'Dammbagalla' 'Meegoda(DEC)']


Unique values in category: ['cereals and tubers' 'miscellaneous food' 'non-food' 'pulses and nuts'
 'vegetables and fruits' 'meat, fish and eggs' 'oil and fats']


Unique values in commodity: ['Wheat flour' 'Rice (red nadu)' 'Rice (white)' 'Rice (long grain)'
 'Sugar' 'Fuel (diesel)' 'Fuel (petrol-gasoline)' 'Potatoes (imported)'
 'Potatoes (local)' 'Chili (red, dry raw)' 'Beans' 'Carrots' 'Coconut'
 'Eggplants' 'Onions (red, local)' 'Pumpkin' 'Snake gourd'
 'Rice (medium grain)' 'Rice (red)' 'Fish (dry, katta)'
 'Fish (dry, sprats)' 'Lentils' 'Bananas' 'Cabbage' 'Onions (imported)'
 'Onions (red, imported)' 'Pineapples' 'Fish (goldstripe sardinella)'
 'Fish (jack)' 'Fish (sail fish)' 'Fish (skipjack tuna)'
 'Fish (trenched sardinella)' 'Fish (yellowfin tuna)' 'Tomatoes' 'Eggs'
 'Papaya' 'Oil (coconut)' 'Onions (red)' 'Meat (chicken, fresh)'
 'Cowpeas (whole, average)' 'Meat (chicken, broiler)' 'Beans (mung)']


Unique values in unit: ['KG' 'L' 'Unit' '750 ML']


Unique values in pricetype: ['Retail' 'Wholesale']

In [32]:
df.rename(columns={'admin1': 'province', 'admin2': 'district'}, inplace=True)

In [33]:
df.head()

,date,province,district,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,1/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.66,0.2725
1,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,33.62,0.3421
2,2/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.71,0.2718
3,3/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Wheat flour,KG,actual,Retail,LKR,26.63,0.2738
4,4/15/2004,Western,Colombo,Colombo City,6.931944,79.847778,cereals and tubers,Rice (red nadu),KG,actual,Retail,LKR,32.98,0.3376

In [34]:
df.dtypes

date          object
province      object
district      object
market        object
latitude     float64
longitude    float64
category      object
commodity     object
unit          object
priceflag     object
pricetype     object
currency      object
price        float64
usdprice     float64
dtype: object

## Data Cleaning

In [35]:
# Check for missing values
print(df.isnull().sum())

date           0
province     129
district     129
market         0
latitude     129
longitude    129
category       0
commodity      0
unit           0
priceflag      0
pricetype      0
currency       0
price          0
usdprice       0
dtype: int64

In [37]:
df.dropna(subset=['province', 'district', 'latitude', 'longitude'], inplace=True)

In [38]:
print(df.isnull().sum())

date         0
province     0
district     0
market       0
latitude     0
longitude    0
category     0
commodity    0
unit         0
priceflag    0
pricetype    0
currency     0
price        0
usdprice     0
dtype: int64

In [39]:
# Convert 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y', errors='coerce')

In [40]:
# Drop duplicates
df.drop_duplicates(inplace=True)